{{#if isEmpty}}
    <p class="text-center">No results found</p>
{{else}}
    <div class="search-list">
        {{#each repos}}
            <span class="search-result" data-repo-id="{{id}}" data-repo-uri="{{repoUri}}" data-repo-name="{{name}}">
                <i class="mr-1 fas {{#if isPrivate}}lock-icon fa-lock{{else}}fa-unlock{{/if}}"></i>
                {{name}}
            </span>
        {{/each}}
    </div>
{{/if}}