<div class="modal fade" id="createAssignmentForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create assignment</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group text-center">
                    <label for="assignmentTypeButton" class="col-form-label">Type:</label>
                    <button id="assignmentTypeButton" class="btn btn-sm btn-outline-dark dropdown-toggle font-weight-bold d-inline-flex justify-content-center align-items-center mr-1" type="button" 
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user mr-2"></i>
                        Individual
                    </button>
                    <div class="dropdown-menu assignment-type" id="assignmentTypeDropdown">
                        <a class="dropdown-item active" href="#" data-type="individual">
                            <i class="fas fa-user"></i>
                            Individual
                        </a>
                        <a class="dropdown-item" href="#" data-type="group">
                            <i class="fas fa-users"></i>
                            Group
                        </a>
                    </div>
                </div>

                <div class="form-group">
                    <label for="assignmentName" class="col-form-label">Name:</label>
                    <input type="search" class="form-control" placeholder="Assignment name" id="assignmentName" maxlength="64">
                    <div class="invalid-feedback" id="assignmentNameFeedback"><!-- Name too long or name not provided --></div>
                </div>

                <div class="form-group">
                    <label for="assignmentDescription" class="col-form-label">Description:</label>
                    <input type="search" class="form-control" placeholder="Assignment description" id="assignmentDescription" maxlength="256">
                    <div class="invalid-feedback" id="assignmentDescriptionFeedback">Description too long</div>
                </div>

                <div class="form-group">
                    <label for="repoPrefix" class="col-form-label">Repository prefix:</label>
                    <input type="search" class="form-control" placeholder="Repository prefix" id="repoPrefix" maxlength="64">
                    <div class="invalid-feedback" id="repoPrefixFeedback">Prefix too long</div>
                </div>

                <div class="form-group">
                    <label for="repoTemplate" class="col-form-label">Repository template:</label>
                    <input type="search" class="form-control" placeholder="Repository template" id="repoTemplate">
                    <div class="invalid-feedback" id="repoTemplateFeedback">Invalid repository name</div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="createAssignmentButton">Create</button>
            </div>
        </div>
    </div>
</div>

{{#if canCreate}}
    <div class="d-flex flex-row-reverse mb-2">
        <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#createAssignmentForm">
            <i class="fas fa-plus"></i>
            Create new assignment
        </button>
    </div>
    <hr>
{{/if}}
{{#if isEmpty}}
    <h5 style="text-align: center;">No assignments available</h5>
{{else}}
    {{#each assignments}}
        <div class="row rounded bg-light p-3">
            <div class="col-md-auto d-flex justify-content-center align-items-center">
                <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x fa-inverse"></i>
                    <i class="fas fa-stack-1x fa-{{#if isGroup}}users{{else}}user{{/if}}"></i>
                </span>
            </div>
            <div class="col-md-8">
                <h3 class="d-inline-block text-truncate pb-1" style="max-width: 100%;">{{name}}</h3>
                <br>
                <h6 class="text-muted d-inline-block text-truncate pb-1" style="max-width: 100%;">{{description}}</h6>
            </div>
            <div class="col-md d-flex align-items-center">
                <a class="btn btn-primary btn-block" href="/orgs/{{../orgId}}/classrooms/{{../classroomNumber}}/assignments/{{number}}">View assignment</a>
            </div>
        </div>
    {{/each}}
    <br>
    <nav>
        <ul class="pagination pagination-lg justify-content-end">
            <li>
                <li class="page-item {{#unless hasPrev}}disabled{{/unless}}" id="prevPage" data-page="{{nextPage}}">
                    <a class="page-link" href="#" data-page="{{prevPage}}">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </li>
                <li class="page-item {{#unless hasNext}}disabled{{/unless}}" id="nextPage" data-page="{{nextPage}}">
                    <a class="page-link" href="#">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
            </li>
        </ul>
    </nav>
{{/if}}
