<div class="modal fade" id="createTeamForm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create team</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="teamName" class="col-form-label">Name:</label>
                    <input type="search" class="form-control" placeholder="Team name" id="teamName" maxlength="64">
                    <div class="invalid-feedback" id="teamNameFeedback"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="createTeamButton">Create</button>
            </div>
        </div>
    </div>
</div>

{{#if canManage}}
    <div class="d-flex flex-row-reverse mb-2">
        <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#createTeamForm">
            <i class="fas fa-plus"></i>
            Create team
        </button>
    </div>
    <hr>
{{/if}}

{{#if isEmpty}}
    <h5 style="text-align: center;">No teams available</h5>
{{else}}
    {{#each teams}}
        <div class="row rounded bg-light" style="position: relative;">
            {{#if ../canManage}}
                <!-- Overlays -->
                <div id="team{{number}}LoadingOverlay" class="overlay-fixed justify-content-center align-items-center" style="position:absolute; height:100%; width: 100%">
                        <div class="spinner-border"></div>
                        <h4 class="ml-3">Please wait...</h4>
                </div>
                <div id="deleteTeam{{number}}Overlay" class="overlay-fixed slide-in justify-content-center align-items-center" style="position:absolute; height:100%; width: 100%">
                    <div class="col-sm-auto">
                        <h5 class="font-weight-bold">
                            Are you sure you want to delete this team from the classroom?
                        </h5>
                    </div>
                    <div class="col-sm">
                        <button class="shadow btn btn-outline-danger btn-lg btn-block mb-2 yesDeleteTeam" data-team-number="{{number}}">Yes</button>
                    </div>
                    <div class="col-sm">
                        <button class="shadow btn btn-primary btn-lg btn-block mb-2 noDeleteTeam">No</button>
                    </div>
                </div>
            {{/if}}

            <!-- Team Info -->
            <div class="col-sm-auto d-flex justify-content-center align-items-center p-3">
                <a href="/orgs/{{../orgId}}/classrooms/{{../classroomNumber}}/teams/{{number}}">
                    <img src={{avatarUri}} class="rounded-circle img-thumbnail" width="90"/>
                </a>
            </div>
            <div class="col-md-9 p-3">
                <h3 class="d-inline-block text-truncate pb-1" style="max-width: 100%;">{{name}}</h3>
                <br>
                {{#if ../canManage}}
                    <a class="text-danger deleteTeamButton" href="#">
                        <h6 class="d-inline" data-team-number="{{number}}">Delete</h6></a>
                    <a class="text-primary addTeamUserButton ml-2" href="#">
                        <h6 class="d-inline" data-team-number="{{number}}">Add user</h6></a>
                {{/if}}
            </div>
        </div>
    {{/each}}
    <br>
    <nav>
        <ul class="pagination pagination-lg justify-content-end">
            <li>
                <li class="page-item {{#unless hasPrev}}disabled{{/unless}}" id="prevPage" data-page="{{prevPage}}">
                    <a class="page-link" href="#">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </li>
                <li class="page-item {{#unless hasNext}}disabled{{/unless}}" id="nextPage" data-page="{{nextPage}}">
                    <a class="page-link" href="#" page="{{nextPage}}">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
            </li>
        </ul>
    </nav>
{{/if}}
