<!--
{{#if canManage}}
    <div class="d-flex flex-row-reverse mb-2">
        <button type="button" class="btn btn-outline-primary btn-lg" data-toggle="modal" data-target="#addUserForm">
            <i class="fas fa-plus"></i>
            Add user
        </button>
    </div>
    <hr>
{{/if}}
-->

{{#if isEmpty}}
    <h5 style="text-align: center;">No users available</h5>
{{else}}
    {{#each users}}
        <div class="row rounded bg-light" style="position: relative;">
            {{#if ../canManage}}
                <!-- Overlays -->
                <div id="user{{id}}LoadingOverlay" class="overlay-fixed justify-content-center align-items-center" style="position:absolute; height:100%; width: 100%">
                    <div class="spinner-border"></div>
                    <h4 class="ml-3">Please wait...</h4>
                </div>
                <div id="removeUser{{id}}Overlay" class="overlay-fixed slide-in justify-content-center align-items-center" style="position:absolute; height:100%; width: 100%">
                    <div class="col-sm-auto">
                        <h5 class="font-weight-bold">
                            Are you sure you want to remove the user from the classroom?
                        </h5>
                    </div>
                    <div class="col-sm">
                        <button class="shadow btn btn-outline-danger btn-lg btn-block mb-2 yesRemoveUser" data-user-id="{{id}}">Yes</button>
                    </div>
                    <div class="col-sm">
                        <button class="shadow btn btn-primary btn-lg btn-block mb-2 noRemoveUser">No</button>
                    </div>
                </div>
            {{/if}}

            <!-- User Info -->
            <div class="col-sm-auto d-flex justify-content-center align-items-center p-3">
                <a href="/users/{{id}}">
                    <img src={{avatarUri}} class="rounded-circle img-thumbnail" width="90"/>
                </a>
            </div>
            <div class="col-md-9 p-3">
                <h3 class="d-inline-block text-truncate pb-1" style="max-width: 100%;">{{username}}</h3>
                <br>
                {{#if ../canManage}}
                    <!-- Role Dropdown Button -->
                    {{#if isTeacher}}
                        <button id="user{{id}}RoleDropdownButton" class="btn btn-sm btn-outline-success dropdown-toggle font-weight-bold d-inline-flex justify-content-center align-items-center mr-1" type="button" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{#if isAuthUser}}disabled{{/if}}>
                            <i class="fas fa-chalkboard-teacher mr-2"></i>
                            Teacher
                        </button>
                    {{else}}
                        <button id="user{{id}}RoleDropdownButton" class="btn btn-sm btn-outline-secondary dropdown-toggle font-weight-bold d-inline-flex justify-content-center align-items-center mr-1" type="button" 
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" {{#if isAuthUser}}disabled{{/if}}>
                            <i class="fas fa-user-graduate mr-2"></i>
                            Student
                        </button>
                    {{/if}}
                    {{#if isAuthUser}}
                        <h6 class="text-muted d-inline">(you)</h6>
                    {{else}}
                        <a class="text-danger removeUserButton" href="#">
                            <h6 class="d-inline" data-user-id="{{id}}">Remove</h6>
                        </a>
                    {{/if}}

                    <!-- Role Dropdown Options -->
                    <div class="dropdown-menu userRoleDropdown" data-user-id="{{id}}">
                        <a class="dropdown-item {{#if isTeacher}} active {{/if}}" href="#" data-role="teacher">
                            <i class="fas fa-chalkboard-teacher"></i>
                            Teacher
                        </a>
                        <a class="dropdown-item {{#unless isTeacher}}active {{/unless}}" href="#" data-role="student">
                            <i class="fas fa-user-graduate"></i>
                            Student
                        </a>
                    </div>
                {{else}}
                    {{#if isTeacher}}
                        <h6 class="text-success">
                            <i class="fas fa-chalkboard-teacher"></i>
                            Teacher
                    {{else}}
                        <h6 class="text-muted">
                            <i class="fas fa-user-graduate"></i>
                            Student
                    {{/if}}
                    {{#if isAuthUser}}<span class="text-muted">(you)</span>{{/if}}
                    </h6>
                {{/if}}
            </div>
        </div>
    {{/each}}
    <br>
    <nav>
        <ul class="pagination pagination-lg justify-content-end">
            <li>
                <li class="page-item {{#unless hasPrev}}disabled{{/unless}}" id="prevPage" data-page="{{prevPage}}">
                    <a class="page-link" href="#">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                </li>
                <li class="page-item {{#unless hasNext}}disabled{{/unless}}" id="nextPage" data-page="{{nextPage}}">
                    <a class="page-link" href="#">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </li>
            </li>
        </ul>
    </nav>
{{/if}}
