<div id="deleteOverlay" class="overlay position-fixed">
    <div class="w-100 d-flex flex-column justify-content-center align-items-center">
        <h1 class="font-weight-bold" style="text-align: center;">Are you sure you want to delete your account?</h1>
        <br>
        <div class="row">
            <div class="col-sm">
                <button class="shadow btn btn-outline-danger btn-lg btn-block mb-2" id="yesDeleteAccount">Yes</button>
            </div>
            <div class="col-sm">
                <button class="shadow btn btn-primary btn-lg btn-block mb-2" id="noDeleteAccount">No</button>
            </div>
        </div>
    </div>
</div>

<div class="rounded shadow bg-light">
    <div class="row py-4">
        <div class="col-md-3 d-flex justify-content-center">
            <div class="row px-4">
                <img src={{user.avatarUri}} class="rounded-circle img-thumbnail" width="256"/>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="row px-4">
                <h2 class="text-break">
                    <div id="username" style="display: inline-block;">
                        {{user.username}}
                    </div>
                    <button class="btn btn-outline-secondary btn-sm" type="button" data-toggle="collapse" data-target="#editUsernameForm" aria-expanded="false" aria-controls="editUsernameForm">
                        <i class="fas fa-edit"></i>
                    </button>
                </h2>
            </div>
            <div class="row-auto px-2">
                <div class="collapse" id="editUsernameForm">
                    <div class="row">
                        <div class="col-md mb-2">
                            <input type="search" class="form-control" placeholder="{{user.username}}" maxlength="64" autocomplete="off" id="editUsername">
                            <div class="invalid-feedback" id="usernameFeedback"></div>
                        </div>
                        <div class="col-md">
                            <button class="btn btn-primary btn-block mb-2">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pl-4">
                <a href={{user.gitHubUri}} target="_blank"> 
                    <img src="/res/github-32px.png" width="20" height="20" class="rounded-circle mb-1">
                    {{user.gitHubName}}
                </a>
            </div>
        </div>
        <div class="col-md-3 pl-3 mx-4">
            <div class="row align-items-end">
                <button class="btn btn-danger btn-block my-2 border" id="deleteAccountButton">Delete Account</button>
            </div>
        </div>
    </div>
</div>
